<div class= "body">
  <header class="main-header">
    <h1> Profile </h1>
  </header>
  
  <div class= "profile-tag">
    <div class = "profile-tag_avatar" >
      <%= @user.avatar.attached? ? image_tag(@user.avatar) : image_tag('Image.png')%>
    </div>
    <p><%= @user.name %></p>
    <p>@<%= @user.username %></p>
    <p> <%= image_tag('calendar.png') %> Joined on <%= @user.created_at.strftime('%B %d, %Y')%></p>
    <%= button_to "Edit Profile" , edit_user_registration_path(@user), method: :get %>
  </div>
  
  <div class="profile-links">
    <div class = "link">
    <%= link_to image_tag('comment.png'), profile_tweets_user_path(@user) %>
    <span>Tweets</span>
    </div>
    <div class="link">
    <%= link_to image_tag('like-blue.png'), profile_likes_user_path(@user) %>
    <span>Likes</span>
    </div>
  </div>
  
  <% @user.liked_tweets.each do |tweet| %>
    <div class="tweet">
      <div class = "tweet_avatar">
        <%= link_to profile_tweets_user_path(tweet.user) do %>
        <%= tweet.user.avatar.attached? ? image_tag(tweet.user.avatar) : image_tag('Image.png') %>
        <% end %>
      </div>
      <div class = "tweet_body">

        <div class= "tweet_body_main">
            <%= link_to profile_tweets_user_path(tweet.user) do %>
            <span class = "name"> <%= tweet.user.name %></span>
            <% end %>
            <span class = "username">@<%= tweet.user.username %></span>
            <span class = "date"><%= time_ago_in_words(tweet.created_at) %></span>
            <p class= "paragraph"><%= tweet.body %></p>
        </div>

        <div class= "tweet_body_footer">
          <div class = "tweet_body_footer_interactions">
            <p><%= link_to image_tag('comment.png'), tweet_path(tweet) %><%=tweet.replies.size%></p>
            
            <% pre_like = tweet.likes.find { |like| like.user_id == current_user&.id } %>
            
            <% if pre_like %>
              
                <p><%= link_to image_tag('heartred.png'), tweet_like_path(tweet, pre_like), method: :delete %><%=tweet.likes.size%></p>
              
            <% else %>
                <% if current_user.nil?%>
                <p><%= image_tag('heart.png') %><%=tweet.likes.size%></p>
                <% else %>
                <p><%= link_to image_tag('heart.png'), tweet_likes_path(tweet), method: :post %><%=tweet.likes.size%></p>
              <%end%>
            <% end %>

            
          </div>
          <div class="tweet_body_footer_actions">
          <% if policy(:tweet).destroy? %>
            <p><%= link_to image_tag('destroy.png'), profile_tweets_user_path(tweet), 
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
          <% end %>
          <% if policy(:tweet).update? %>
            <p><%= link_to  image_tag('edit.png'), edit_tweet_path(tweet) %></p>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <% end %>
</div>